<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#">Online Resume Builder <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Home</a>
  </div>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Personal Details</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="resume.name" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="resume.address" name="address" rows="3" placeholder="Address"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="resume.contactNo" name="contactNo" placeholder="Contact No.">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="resume.email" name="emailId" placeholder="Email ID">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="resume.socialProfile" name="socialProfile" placeholder="Social Profile ">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between card-title">
            <h4>Experience</h4>
            <button class="btn btn-primary" (click)="addExperience()">+</button>
          </div>
          <div class="row" *ngFor="let ex of resume.experiences; let i=index">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"  placeholder="Employer">
          </div>
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3" placeholder="Job Description"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="jobTitle{{i}}" [(ngModel)]="ex.jobTitle" placeholder="Job Title">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="exInMonths{{i}}" [(ngModel)]="ex.experience" placeholder="Experience in months">
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Education -->
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between card-title">
        <h4>Education</h4>
        <button class="btn btn-primary" (click)="addEducation()">+</button>
      </div>
      <div class="row" *ngFor="let ed of resume.educations; let i=index">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" placeholder="Degree" name="degree{{i}}" [(ngModel)]="ed.degree" >
              <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" name="college{{i}}" [(ngModel)]="ed.college" placeholder="School/College">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="number" class="form-control" name="passingYear{{i}}" [(ngModel)]="ed.passingYear" placeholder="Passing Year">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="number" class="form-control" name="result{{i}}" [(ngModel)]="ed.percentage" placeholder="percentage">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Other Details -->

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Other Details</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea type="text" class="form-control" [(ngModel)]="resume.otherDetails" name="otherDetails" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="generatePdf()" class="btn btn-primary"> Open PDF</button>
      <button (click)="generatePdf()" class="btn btn-primary"> Download PDF</button>
    </div>
  </div>

</div>
